body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 100vh;
    background-color: rgb(26, 175, 175);
    

}
.title {
   
    text-align: center;
    font-size:55px;
    font-family: 'Pacifico', cursive;
}

.grid-container {
    display: grid;
    margin: auto;
    background-color: white;

}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 140px;
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 2;
}


.modal .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 200px;
    
}

.btns{
    display: flex;
    width: 800px;
    gap: 30px;
    justify-content: center;
    margin-bottom: 40px;
   

}
.btn-open, .sel-col, .rainbow, .eraser, .clear{

    border-radius: 5%;
    width: 150px;
    height: 30px;
    background-color: white;
    border: rgb(15, 15, 15) 1.5px solid;
    color: rgb(15, 15, 15);
    border-radius: 8px;
}


button:hover{
    background-color: rgb(15, 15, 15);
    color: white;

}

.btn-submit{

    margin-top: 10px;
    border-radius: 5%;
    width: 140px;
    background-color: white;
    border: rgb(15, 15, 15) 1.5px solid;
    color: rgb(15, 15, 15);

}

.btn-submit:hover{
    background-color: rgb(15, 15, 15);
    color: white;

}


.btn-close {
    transform: translate(130px, -10px);
    border: 1px solid white;
    border-radius: 50%;
    background: #eee;
}

.sel-col {
    display: flex;
    justify-content:  center;
    align-items: center;
    gap: 5px;    
}

#color{
    border: none;
    background: none;
    width: 25px;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
  }

  .hidden {
    display: none;
  }

 